---
import Layout from "@/layouts/Base";
import {ABOUT_ME} from "src/consts";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  image="/blog-placeholder-about.jpg"
>
  <h1 class="title">About</h1>
  <p>{ABOUT_ME}</p>


  <h2 class="title mt-4">thing i like</h2>
  <ul class="list-inside list-disc">
    <li>databases</li>
    <li>souls games (<a class="cody-link" href="https://x.com/echo4eva/status/1826902694092833134" target="_blank">relevant tweet</a>)</li>
    <li>magnolia bakery's banana pudding</li>
    <li>forumla one</li>
  </ul>
</Layout>
